<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fd Rechenwesen</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>The flipdot Rechenwesen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" action="/" method="post">
                <div class="form-group">
                    <label for="shop-name" class="col-xs-2 control-label">Shop name</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="shop-name" placeholder="Name der Bude wo du was gekaufst hast">
                    </div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-xs-2 control-label">Category</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="Drinks, Food, …" id="category">
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-xs-2 control-label">Price</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" placeholder="Wieviele Gelds du vom Flipdot kriegst" id="price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-xs-2 control-label">Le PDF</label>
                    <input class="col-xs-10" type="file" accept="*.pdf">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Do se Rechen Wesen</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>